{% extends 'layouts/app.twig' %}
{% import 'macros/base.twig' as m %}
{% import 'macros/form.twig' as f %}

{% block title %}
    {{ __('Jobs') }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            {{ block('title') }}
        </h1>

        {% include 'layouts/parts/messages.twig' %}
        {% for s in sch %}
            <div class="row" style="padding: 10px;">
                <div class="lane">
                    <div class="card-body bg-dark border border-{{ s.border }}">
                        <div class="card-header d-flex align-items-center">
                            <a class="d-flex align-items-center text-white" href="/shifts?action=view&shift_id={{ s.SID }}"><h2>{{ s.start|date('d.m.Y') }} - {{ s.title }}</h2></a>
                        </div>
                        {{ s.start|date('D H:i') }} - {{ s.end|date('H:i') }}</br>
                        {% if s.description %}
                            <span class="bi bi-info-circle"></span> {{ s.description }}<br>
                        {% endif %}

                        <a href="/rooms?action=view&room_id={{s.RID}}"><span class="bi bi-geo-alt"></span> {{ s.room.name }}</a>

                        {% for needed in s.neededAngels %}
                            {% if needed.count > 0 %}
                                <div class="col-md-12" style="padding-bottom: 10px;">
                                    <strong>
                                        <a href="/angeltypes?action=view&angeltype_id={{ needed.angelType.id }}">{{ needed.angelType.name }}</a>:</strong><span class="me-1"> {{ needed.remaining }}/{{ needed.count }} registered</span>
                                    <a href="/shift-entries?action=create&shift_id={{ s.SID }}&angeltype_id={{ needed.angelType.id }}" class="btn btn-sm btn-primary text-nowrap d-print-none">Sign up</a>
                                    <br/>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
